<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#page-top">MidiJuegos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#about">Acerca de</a></li>
        <li class="nav-item"><a class="nav-link" href="#download">Descargar</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">MidiJuegos</h1>
      <h2 class="masthead-subheading mb-0">Enseña con diversión!</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Ver más</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="about" class="description-section">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center align-items-center">
      <div class="col-lg-8 order-lg-1">
        <div class="p-5 text-center">
          <h2 class="display-4">MidiJuegos</h2>
          <p class="fs-4">Este videojuego educativo para niños de 4 a 6 años,
            diseñado por: Andrés Toala, Michelle Rivadeneira y Ricardo Molina, ofrece una serie de minijuegos
            interactivos que ayudan a desarrollar habilidades básicas como el reconocimiento de formas y colores, la
            coordinación ojo-mano, y la resolución de problemas simples. Con gráficos coloridos y personajes amigables,
            cada minijuego está creado pensando en el aprendizaje divertido y seguro de los más pequeños.</p>
        </div>
      </div>
    </div>

    <div class="row gx-5 justify-content-center align-items-center mt-3">
      <div class="col-lg-8 order-lg-2">
        <div class="p-5 text-center">
          <img src="midi/inicio.jpeg" alt="Descripción de la imagen" class="img-fluid"
            style="border: 2px solid #343a40; border-radius: 10px;">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="download" class="download-section">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 text-center">
          <h2 class="display-4">Descarga MidiJuegos</h2>
          <p class="fs-4">¡Descarga nuestro divertido minijuego y comienza a aprender mientras te diviertes!</p>
          <a href="https://drive.google.com/drive/folders/1gYG1_gqMTA0BO3Ch-InHOukZrRm7Rr61?usp=sharing"
            class="btn btn-primary btn-lg">Descargar Ahora</a>
        </div>
      </div>
    </div>
    <h3 class="display-5">INSTRUCCIONES PARA INSTALACION / PRUEBA</h3>
    <p class="lead">Para poder probar el videojuego, se debe seguir los siguientes pasos:</p>
    <ol class="list-group">
      <li class="list-group-item">1.- Descargar el archivo .apk del videojuego desde el siguiente enlace:
        <a href="https://drive.google.com/drive/folders/1gYG1_gqMTA0BO3Ch-InHOukZrRm7Rr61?usp=sharing"
          target="_blank">Descargar MidiJuegos</a>
      </li>
      <li class="list-group-item">2.- Instalar el archivo .apk en un dispositivo Android.</li>
      <li class="list-group-item"><i class="fa-solid fa-circle-exclamation text-warning"></i><b> Al ser un
          archivo .apk de fuentes externas a Google Play
          Store, se visualizara una alerta de aplicación dañina, ignorar por unica ocasion este mensaje.
          Hemos
          tomado todas las medidas necesarias para proteger tus datos y garantizar una experiencia libre
          de
          riesgos.</b></li>
      <li class="list-group-item">3.- Abrir la aplicación MidiJuegos en el dispositivo, jugar y disfrutar.
      </li>
    </ol>
    <br />
    <p class="lead">Si tienes alguna pregunta o inquietud, no dudes en contactarnos. Gracias por confiar en
      nosotros y disfruta de nuestra
      videojuego.</p><br />
  </div>
</section>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center align-items-center">
      <div class="col-lg-10 order-lg-1">
        <div class="p-5 text-center">
          <h2 class="display-4">Minijuegos de MidiJuegos!</h2>
        </div>
      </div>
    </div>
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="midi/manzanas.jpeg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">RECOGE MANZANAS</h2>
          <p class="fs-4">En este divertido minijuego, una manzana cae del árbol y se
            parte en tres trozos, cada uno con una palabra diferente. ¡Escucha atentamente al mono y arrastra el trozo
            de
            manzana correcto para completar la palabra que él está diciendo!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle" src="midi/secuencia.jpeg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">SECUENCIA MUSICAL</h2>
          <p class="fs-4">Observa y escucha atentamente
            mientras se muestra una secuencia de colores y sonidos en la pantalla. Luego, repite la secuencia
            correctamente para avanzar al siguiente nivel. Este juego no solo es divertido, sino que también ayuda a
            mejorar la memoria, la concentración y las habilidades auditivas de los más pequeños.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="midi/intrusos.jpeg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">ENCUENTRA EL INTRUSO</h2>
          <p class="fs-4">Desarrolla tu capacidad de observación y clasificación con este divertido minijuego de cartas
            de animales.
            Mira atentamente un grupo de cartas que muestra diferentes animales y encuentra el que no pertenece al
            grupo. Este juego no solo es entretenido, sino que también ayuda a los niños a mejorar su capacidad de
            categorización, pensamiento crítico y atención a los detalles.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="trailer" class="trailer-section">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center align-items-center">
      <div class="col-lg-8 order-lg-1">
        <div class="p-5 text-center">
          <h2 class="display-4">Tráiler</h2>
          <p class="fs-4">¡Mira el tráiler para conocer más sobre MidiJuegos!</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MKnbGG4pB1k?si=NFLUxJk7XawoFCRN"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="walthrough" class="trailer-section">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center align-items-center">
      <div class="col-lg-8 order-lg-1">
        <div class="p-5 text-center">
          <h2 class="display-4">Gameplay</h2>
          <p class="fs-4">¡Mira un gameplay de MidiJuegos!</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jaNlVyHKcec?si=uoxM9m-rhNxDVMUN"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-white">
  <div class="container px-5">
    <p class="m-0 text-center text-black small">Copyright &copy; MidiJuegos 2023</p>
  </div>
</footer>
